.logo {
  background-image: url(../../images/sprite.png);
  background-position: 0px -1px;
  width: 41px;
  height: 38px;
}

.text-container {
  display: grid;
  grid-template-columns: 50px 500px;

  margin: 10px;
}

.text-content {
  font-weight: bold;
  font-size: 25px;
}
