.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote-success-message {
  width: 100%;
  align-self: center;
  text-align: center;
}

.chart {
  position: relative;
  width: 900px;
  top: -250px;
  right: -20px;
}
