.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote-success-message {
  width: 100%;
  align-self: center;
  text-align: center;
}

.chart {
  position: relative;
  width: 94%;
  top: -270px;
  right: -3%;
}

.percentage-page {
  height: 400px;
}

.result-date {
  height: 100px;
  width: 400px;
}
